#shipmentMapCol {
  padding: 0;
}

#shipmentMapRoot {
  width: 100%;
  height: calc(100vh - 56px);
}

#shipmentManagement {
  display: flex;
  flex-flow: column nowrap;
  max-height: calc(100vh - 56px);
}

#formRow {
  flex: 0 0 auto;
}

#listRow {
  flex: 1;
  min-height: 0;
  flex-direction: column;
}

#tableContainer {
  width: 100%;
  padding: 20px;
  flex: 1;
  min-height: 0;
}

#flexTable {
  overflow-y: auto;
  height: 100%;
}

#spinnerContainer {
  width: 100%;
}

#spinner {
  position: absolute;
  z-index: 1000;
  right: 50%;
}

#formContainer {
  width: 100%;
  padding: 20px;
}

#shipmentInfo {
  position: absolute;
  z-index: 1000;
}

.form-group {
  width: 100%;
  margin: 10px auto;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #5bc0de;
  cursor: pointer;
}

.rowSelected.show {
  background-color: #5bc0de;
}

nav {
  margin-left: -15px;
  margin-right: -15px;
}

.nav-item {
  color: white;
  cursor: pointer;
}

.navbar-nav {
  flex: 1 0 auto;
  justify-content: flex-end;
}
